<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="IOPools">
            <directory>tests/IOPools</directory>
        </testsuite>
        <testsuite name="Log">
            <directory>tests/Log</directory>
        </testsuite>
        <testsuite name="Redis">
            <directory>tests/Redis</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>tests/Http</directory>
        </testsuite>
        <testsuite name="Cache">
            <directory>tests/Cache</directory>
        </testsuite>
        <testsuite name="Filesystem">
            <directory>tests/Filesystem</directory>
        </testsuite>
        <testsuite name="Concurrency">
            <directory>tests/Concurrency</directory>
        </testsuite>
        <testsuite name="Process">
            <directory>tests/Process</directory>
        </testsuite>
        <testsuite name="Pipeline">
            <directory>tests/Pipeline</directory>
        </testsuite>
        <testsuite name="Workflows">
            <directory>tests/Workflows</directory>
        </testsuite>
        <testsuite name="Sketches">
            <directory>tests/Sketches</directory>
        </testsuite>
        <testsuite name="Hashing">
            <directory>tests/Hashing</directory>
        </testsuite>
        <testsuite name="Encryption">
            <directory>tests/Encryption</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/Database</directory>
        </testsuite>
        <testsuite name="Graph">
            <directory>tests/Graph</directory>
        </testsuite>
        <testsuite name="Pagination">
            <directory>tests/Pagination</directory>
        </testsuite>
    </testsuites>
</phpunit>